.category {
  margin: 2rem auto 5rem auto;
  position: relative;
}

.category h3 {
  /* display: block; */
  padding: 0.5rem;
  background: var(--secondary-light-2);
}

.category button {
  font-size: 1rem;
}

.block-container {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.block-container button {
  margin-right: 1rem;
}

.block-100,
.block-50,
.block-25 {
  padding: 0 1rem;
}

.block-100 {
  width: 100%;
  /* display: flex; */
}

.block-50 {
  width: 50%;
}

.block-25 {
  width: 25%;
}

.close {
  position: absolute;
  top: 2px;
  right: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close:hover {
  color: var(--red-1);
}

.subscribers {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
