.section:first-of-type {
margin-top: 70px;
  /* border: 1px solid green; */
}

/* .section:last-of-type {
  margin-bottom: 20vh;
} */

.container {
  padding: 50px 50px;
  width: 1080px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}
