.section {
  padding: 50px 50px 30px 50px;
  transition: all 0.8s;
}

.section:first-of-type {
  margin-top: 70px;
  /* border: 1px solid green; */
}
.section:last-of-type {
  padding-bottom: 70px;
}

/* .section:last-of-type {
  margin-bottom: 20vh;
} */

.container {
  width: 1080px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.hidden {
  opacity: 0;
} 
