.section {
  padding: 50px 50px 30px 50px;
  transition: all 0.8s;
}

.section:first-of-type {
  margin-top: 70px;
}
.section:last-of-type {
  padding-bottom: 70px;
}

.section:last-of-type {
  margin-bottom: 12vh;
}

.section h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.hidden {
  opacity: 0;
}
