.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: blue;
}

.main-navigation__header-nav {
  margin-left: auto;
  margin-right: 2rem;
  /* border: 1px solid blue; */
}

.main-navigation__title {
  color: green;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .main-navigation__menu-btn {
    display: block;
  }

  .main-navigation__header-nav {
    display: none;
  }

  .main-navigation__menu-btn {
    display: flex;
  }
}
