.form-control {
  margin: 2rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  font-size: 1.25rem;
  border: 1px solid var(--gray-3);
  border-radius: var(--borderRadius-input);
  background: var(--white-2);
  padding: 0.55rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: var(--white-4);
  border-color: var(--secondary-light);
}

.invalid label,
.invalid p {
  color: var(--red-1);
}

.invalid input,
.invalid textarea {
  border-color: var(--red-1);
  background: var(--red-2);
}

.form-control select {
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid var(--gray-3);
  border-radius: var(--borderRadius-input);
  background: var(--white-2);
  padding: 0.55rem;
}

.form-control select:focus {
  outline: none;
}

input:disabled,
select:disabled {
  background-color: var(--gray-2);
  color: var(--primary);
  border-color: var(--gray-3);
  opacity: 1;
}
