.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--button-main-text);
  background: var(--button-main);
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius-button);
  border: 1px solid var(--button-main);
  box-shadow: var(--button-shadow);
  transition: all 0.2s;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.button:hover {
  background: var(--button-main-hover);
  border: 1px solid var(--button-main-hover);
  box-shadow: var(--button-shadow-hover);
  transform: translateY(-1px);
}

.inverse {
  color: var(--button-main);
  background: whitesmoke;
}
.inverse:hover {
  background: var(--button-main);
  border: 1px solid var(--button-main);
}

.inverse:hover {
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 2.5rem;
    margin-top: 3rem;
    padding: 1rem 1rem;
  }
}