.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--white-3);
  background: var(--primary);
  padding: 0.5rem 1.15rem;
  border-radius: var(--borderRadius-button);
  border: 1px solid var(--primary);
  box-shadow: var(--button-shadow);
  transition: all 0.2s;
  text-decoration: none;
}

.button:hover {
  background: var(--primary-light);
  border: 1px solid var(--primary-light);
  box-shadow: var(--button-shadow-hover);
  transform: translateY(-1px);
}

.inverse {
  color: var(--primary);
  background: var(--white-3);
}
.inverse:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
}

.inverse:hover {
  color: var(--white-3);
}

.disabled,
.disabled:hover {
  background: var(--gray-4);
  cursor: not-allowed;
  transform: translateY(0);
  border: none;
  box-shadow: none;
  border: 1px solid var(--gray-4);
}

.disabled * {
  color: var(--gray-3);
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 2.5rem;
    margin-top: 3rem;
    padding: 1rem 1rem;
  }
}
