.card {
  height: 100%;
  margin: 1rem;
  padding: 2rem;
  /* padding-bottom: 4rem; */
  background-color: var(--white-2);
  border-radius: var(--borderRadius-card);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--gray-2);
  box-shadow: var(--shadow);
  position: relative;
}

.card h3 {
  margin-bottom: 1rem;
}

.card img {
  border-radius: 3px;
}

.width--20 {
  width:20%;
}

.width--30 {
  width: 30%;
}

.width--50 {
  width: 50%;
}

.width--75 {
  width: 75%;
}

.width--100 {
  width: 100%;
}

.margin--small {
  margin: 1rem 1rem;
}
.margin--medium {
  margin: 3rem 1rem;
}
.margin--large {
  margin: 6rem 1rem;
}

/* .card h2 {
  margin-bottom: 1rem;
} */

@media only screen and (max-width: 600px) {
  .card {
    border-radius: 0px;
    flex-direction: column;
  }
}
