.cards {
  height: 50vh;
  width: 70%;
  position: relative;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid green; */
}

.cards > div {
  transform: scale(0.97);
}

.cards > div:hover {
  z-index: 5;
  transform: scale(1);
  transition: 0.3s all;
}

.first {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 40%;
}
.second {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 40%;
}
.third {
  position: absolute;
  top: 45%;
  left: 35%;
  width: 40%;
}
.fourth {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 40%;
}
