.container {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: none;
}

.active {
  display: flex;
  animation: fadeIn 1.3s;
}

.image {
  width: 35%;
}

.image img {
  width: 100%;
  border-radius: var(--borderRadius-img);
}

.content {
    width: 65%;
    padding: 0 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
