.container {
  width: 500px;
  margin: 300px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid green;
}

.tabs {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid blue;
  font-size: 2rem;
}

.content {
  margin-top: 5rem;
  transition: all 0.2s;
  font-size: 4rem;
}
